aiofiles==0.8.0

asyncio==3.4.3

bson==0.5.10

fastapi==0.73.0
fastapi-mail==1.0.4

jose==1.0.0

motor==2.5.1

python-jose==3.3.0
python-multipart==0.0.5

requests==2.27.1

sse-starlette==0.10.3

uvicorn==0.15.0

